.cart-icon {
  border: none;
  background: none;
  cursor: pointer;
}

#DesktopNavbar {
  column-gap: 1rem;
}
#DesktopNavbar .nav-link {
  color: var(--clr-dark-grayish-blue);
}

#DesktopNavbar .nav-link.active-link {
  position: relative;
  color: var(--clr-very-dark-blue);
}

#DesktopNavbar .active-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 80%;
  height: 4px;
  bottom: -25px;
  background-color: var(--clr-orange);
}

#Offcanvas.offcanvas.offcanvas-start.show {
  width: 66%;
}
.fade.offcanvas-backdrop.show {
  opacity: 0.7;
}

#Cart-Quantity {
  background-color: var(--clr-orange) !important;
}

#OffcanvasNavbar {
  column-gap: 2rem;
}

#OffcanvasNavbar .nav-link.active-link {
  color: var(--clr-orange);
}

.avatar-image {
  height: 24px;
  width: 24px;
}
.avatar-image:hover {
  outline: 2px solid var(--clr-orange);
  border-radius: 50%;
}

/* --------------MEDIA QUERIES-------------- */
@media (min-width: 992px) {
  .avatar-image {
    height: 50px;
    width: 50px;
  }

  #DesktopNavbar .active-link::after {
    bottom: -37px;
  }
}

@media (min-width: 1440px) {
  #DesktopNavbar {
    column-gap: 2rem;
  }
}
