section#main {
  padding-bottom: 88px;
}

@media (min-width: 768px) {
  section#main {
    padding-top: 60px;
  }
}

@media (min-width: 992px) {
  .App .container {
    padding-inline: 70px;
  }

  header {
    border-bottom: 1px solid hsl(219, 35%, 92%);
  }

  section#main {
    padding-top: 90px;
  }
}

@media (min-width: 992px) {
  .App .container {
    padding-inline: calc(70px + (100 - 70) * ((100vw - 992px) / (1440 - 992)));
  }
}

@media (min-width: 1440px) {
  .App .container {
    padding-inline: 100px;
  }
  section#main {
    padding-inline: 20px;
  }
}
