:root {
  --ff-Kumbh: 'Kumbh Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* PRIMARY */
  --clr-orange: #ff7d1a;
  --clr-pale-orange: hsl(25, 100%, 94%);

  /* NEUTRAL */

  --clr-very-dark-blue: hsl(220, 13%, 13%);
  --clr-dark-grayish-blue: hsl(219, 9%, 45%);
  --clr-grayish-blue: hsl(220, 14%, 75%);
  --clr-light-grayish-blue: hsl(223, 64%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black-75: rgba(0, 0, 0, 0.75);
}

/* RESETS */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GLOBAL */
body {
  margin: 0;
  font-family: var(--ff-Kumbh) !important;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
}
